<header class="bg-yellow p-b--l clearfix">
  <a class="logo left" href="index">
    <img class="hide-on-small" height="250px" alt="Logo" src="<%= assetPath('logo_square.svg') %>">
    <img class="hide-on-large" height="100px" alt="Logo" src="<%= assetPath('logo_small.svg') %>">
  </a>

  <nav class="text-right p">
    <ul class="inline-list main-menu m-r m-b--s m-t--s">
      <li><a class="bold h4 m-l--s" href="installation">Install</a></li>
      <li><a class="bold h4 m-l--s" href="packages">Community Packages</a></li>
      <li><a class="bold h4 m-l--s" href="business">Business</a></li>
      <li><a class="bold h4 m-l--s" href="pricing">Pricing</a></li>
      <li><a class="bold h4 m-l--s" href="faq">FAQ</a></li>
      <li><a class="bold h4 m-l--s" href="docs">Docs</a></li>
      <li>
        <div class="m-l inline-block">
          <div class="small button-bar inline-block line-height-small">
            <a class="button" href="#">Login</a><a class="button" href="#">Signup</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>
