<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="<%= assetPath('style.css') %>" rel="stylesheet">
</head>
<body class="bg-one">

  <div class="message hide">
    <div class="p-l p-r p--s">
      <span>
        <i class="icon-exclamation-triangle m-r"></i>Hi, the site is currently under maintenance. We'll be back online in a few minutes. Apologies for any inconvenience caused.
      </span>
      <button class="right pointer" data-close-message>
        <i class="icon-close"></i>
      </button>
    </div>
  </div>

  <%= include('header') %>

  <main>
<%= content %>
  </main>

  <%= include('footer') %>
</body>
</html>
