<section>
  <div class="container-wide p-b--l">
    <h1 class="text-center m-b">Pricing</h1>
    <% _csv = csv('pricing') %>
    <table class="m-b--l">
      <thead>
        <% _csv.header.forEach(function(th){ %>
        <th><%=th %></th>
        <% }) %>
      </thead>
      <tbody>
        <% _csv.body.forEach(function(row){ %>
        <tr>
          <% row.forEach(function(td){ %>
          <td>
            <% if (td === 'x') { %>
            <span class="text-green icon-check"></span>
            <% } else { %>
              <%= td %>
            <% } %>
          </td>
          <% }) %>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <% _csv = csv('features') %>
    <% console.log(_csv) %>
    <table class="m-b--l">
      <thead>
        <% _csv.header.forEach(function(th){ %>
        <th><%=th %></th>
        <% }) %>
      </thead>
      <tbody>
        <% _csv.body.forEach(function(row){ %>
        <tr>
          <% row.forEach(function(td){ %>
          <td>
            <% if (td.trim() === 'x') { %>
            <span class="text-green icon-check"></span>
            <% } else { %>
              <%= td %>
            <% } %>
          </td>
          <% }) %>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</section>
